{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<!--Auction listings are dynamically rendered as Borderless Bootstrap Cards
via the for loop. The if statement sorts open listings from listings that have been closed.
The Listings model is being inherited as context.-->
<div class="container-fluid bg-dark">
<h2 class="text-light">Active Listings</h2>
    <div class="card-group">
        {% for listing in listings %}
        {% if listing.is_active %}
        <div class="card">
            <img src="{{ listing.image }}" class="card-img-top" alt="{{ listing.description }}">
            <div class="card-body card-img-overlay">
            <h5 class="card-title">{{ listing.title }}</h5>
            <p class="card-text">{{ listing.description }}</p>
            <a href="{% url 'listing' listing.title %}" class="btn btn-primary stretched-link">Bid on the {{ listing.title }}</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <hr>
<h2 class="text-light">Closed Listings</h2>
    <div class="card-deck">
        {% for listing in listings %}
        {% if not listing.is_active %}
        <div class="card">
            <img src="{{ listing.image }}" class="card-img-top" alt="{{ listing.description }}">
            <div class="card-body card-img-overlay">
            <h5 class="card-title">{{ listing.title }}</h5>
            <p class="card-text">{{ listing.description }}</p>
            <a href="{% url 'listing' listing.title %}" class="stretched-link"></a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}