{% extends "auctions/layout.html" %}
{% load static %}


{% block body %}
<ul>
    <img src="{{listing.image}}">
    <li>{{ listing.title }}</li>
    <li>{{ listing.description }}</li>
</ul>
<ul>
    {% for bid in bids %}
    <li>{{ bid.value }}</li>
    {% endfor %}
</ul>

<form action="{% url 'listing' listing.title %}" method="POST">

    {%csrf_token%}
    {{ NewBidForm }}
    <input type="submit">
</form>

{% if request.user.id == listing.user_id %}

<form action="{% url 'closelisting' listing.title %}" method="POST">
    <input type="submit" name="CloseAuction" value="Close Auction">
</form>

{% endif %}


{% endblock %}