{% extends "auctions/layout.html" %}
{% load static %}


{% block body %}
<ul>
    <img src="{{listing.image}}">
    <li>Title: {{ listing.title }}</li>
    <li>Description: {{ listing.description }}</li>
    <li>Opening bid: ${{ listing.starting_bid }}</li>
</ul>
<ul>
    {% for bid in bids %}
    <li>{{ bid.value }}</li>
    {% endfor %}
</ul>
<ul>
    {% for comment in comments %}
    <li>{{ comment.content }} - {{ comment.username }}</li>
    {% endfor %}
</ul>

{% if listing.is_active %}
<form action="{% url 'listing' listing.title %}" method="POST">

    {%csrf_token%}
    {{ NewBidForm }}
    <input type="submit" name="SubmitBid">
</form>
{% else %}

{% if request.user.id == top_bidder and request.user.id == listing.user_id and not listing.is_active %}
<h1>You have won the Auction</h1>
{% endif %}
{% endif %}

{% if request.user.id == listing.user_id and listing.is_active %}
<form action="{% url 'closelisting' listing.title %}" method="POST">
    {%csrf_token%}
    <input type="submit" name="CloseAuction" value="Close Auction">
</form>
{% endif %}

<form action="{% url 'listing' listing.title %}" method="POST">
    {%csrf_token%}
    {{ CommentForm }}
    <input type="submit" name="SubmitComment">
</form>

{% if not is_watched %}
<form action="{% url 'listing' listing.title %}" method="POST">
    {%csrf_token%}
    <input type="submit" name="AddWatchlist" value="Add to watchlist">
</form>
{% endif %}

{% endblock %}