{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<div class="container-fluid">
<h1 class="text-light">Watchlist</h1>
<div class="card-group">
    {% for list in listing %}
    {% if list.title in watchlist %}
    <div class="card">
        <img src="{{ list.image }}" class="card-img-top" alt="{{ list.description }}">
        <div class="card-body card-img-overlay">
        <h5 class="card-title">{{ list.title }}</h5>
        <p class="card-text">{{ list.description }}</p>
        <a href="{% url 'listing' list.title %}" class="btn btn-primary stretched-link">Bid on the {{ list.title }}</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
</div>
{% endblock %} 